<template name="logs">
  <ul role="tablist" class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#live-stream" aria-controls="live-stream" role="tab" data-toggle="tab">
        <i class="fa fa-refresh fa-spin"></i> Live Stream
      </a>
    </li>
    <li role="presentation">
      <a href="#errors" aria-controls="errors" role="tab" data-toggle="tab">Errors</a>
    </li>
    <li role="presentation">
      <a href="#warnings" aria-controls="warnings" role="tab" data-toggle="tab">Warnings</a>
    </li>
    <li role="presentation">
      <a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a>
    </li>
    <li role="presentation">
      <a href="#success" aria-controls="success" role="tab" data-toggle="tab">Success</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="" class="tab-pane active" id="live-stream">
      <div class="logs live">
        {{#each logs 'live'}}
          {{> logItem}}
        {{else}}
          <p class="alert alert-warning">Nothing logged recently. Outstanding!</p>
        {{/each}}
      </div>
    </div>
    <div role="" class="tab-pane active" id="errors">
      <div class="logs danger">
        {{#each logs 'danger'}}
          {{> logItem}}
        {{else}}
          <p class="alert alert-warning">No errors logged recently. Excellent!</p>
        {{/each}}
      </div>
    </div>
    <div role="" class="tab-pane active" id="warnings">
      <div class="logs warning">
        {{#each logs 'warning'}}
          {{> logItem}}
        {{else}}
          <p class="alert alert-warning">No warnings logged recently. Wonderful!</p>
        {{/each}}
      </div>
    </div>
    <div role="" class="tab-pane active" id="info">
      <div class="logs info">
        {{#each logs 'info'}}
          {{> logItem}}
        {{else}}
          <p class="alert alert-warning">No info logged recently. Incredible!</p>
        {{/each}}
      </div>
    </div>
    <div role="" class="tab-pane active" id="success">
      <div class="logs success">
        {{#each logs 'success'}}
          {{> logItem}}
        {{else}}
          <p class="alert alert-warning">No success logged recently. Spectacular!</p>
        {{/each}}
      </div>
    </div>
  </div>
</template>
